body,html{
  margin: 0;
  padding:0;
}
img{
  width: 100%;
  max-width: 100%;
  border: 0;
}
.btn{
  background-color: rgb(145, 0, 0);
  border-color: rgb(145, 0, 0);
  color: #fff;
}
.bg-dark{
  background-color: #000 !important;
}
.navbar-light .navbar-brand{
  max-width: 200px;
}
.nav-link{
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
}
.navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .show>.nav-link {
  color: rgb(145, 0, 0);
}
.navbar-light .navbar-nav .nav-link {
  color: #fff;
}
a.navbar-brand img {
  filter: invert(1);
}
/* From Uiverse.io by G4b413l */ 
.group {
position: relative;
}

.input {
font-size: 16px;
padding: 10px 10px 10px 5px;
display: block;
width: 200px;
border: none;
border-bottom: 1px solid #515151;
background: transparent;
}

.input:focus {
outline: none;
}

label {
color: #999;
font-size: 18px;
font-weight: normal;
position: absolute;
pointer-events: none;
left: 5px;
top: 10px;
transition: 0.2s ease all;
-moz-transition: 0.2s ease all;
-webkit-transition: 0.2s ease all;
}

.input:focus ~ label, .input:valid ~ label {
top: -20px;
font-size: 14px;
color: #5264AE;
}

.bar {
position: relative;
display: block;
width: 200px;
}

.bar:before, .bar:after {
content: '';
height: 2px;
width: 0;
bottom: 1px;
position: absolute;
background: #5264AE;
transition: 0.2s ease all;
-moz-transition: 0.2s ease all;
-webkit-transition: 0.2s ease all;
}

.bar:before {
left: 50%;
}

.bar:after {
right: 50%;
}

.input:focus ~ .bar:before, .input:focus ~ .bar:after {
width: 100%;
}

.highlight {
position: absolute;
height: 60%;
width: 100px;
top: 25%;
left: 0;
pointer-events: none;
opacity: 0.5;
}

.input:focus ~ .highlight {
animation: inputHighlighter 0.3s ease;
}

@keyframes inputHighlighter {
from {
 background: #5264AE;
}

to {
 width: 0;
 background: transparent;
}
}



a {
color: #FFFFFF;
}

a:visited {
color: #FFFFFF;
text-decoration: none;
}

a:hover {
color:pink;
}

a:active {
color: #FFFFFF;
}
hr {
background-color: #FFFFFF;
}
.navbar {
background-color:white; 
padding: 10px;
text-align: center;
}

.navbar ul {
list-style: none;
margin: 0;
padding: 0;
display: flex;
justify-content: space-between;
}

.navbar li {
margin-right: 20px;
}

.navbar a {
color: black; /* White links */
text-decoration: none;

}

.navbar a:hover {
color: grey /* Light gray on hover */
}
.socialmedia{
  margin-top: 30px;
}
.socialmedia img{
  width: 30px;
  filter: invert(1);
  -webkit-filter: invert(1);
}
.socialmedia a{
  padding: 0 10px;
}
.payments img{
  max-width: 70px;
}



.footer {
  color: #fff;
}
.footer h6{
  margin: 20px 0 10px 0;
  font-size: 18px;
  text-transform: uppercase;
}



/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 599px) {
  .navbar ul {
    display: block;
  }
  .navbar img {
    height: 150px;
  }
  .container-fluid {
    padding: 0;
  }
  .col-sm-4 {
    margin-bottom: 20px;
  }
  .first-col, .second-col, .third-col {
    margin-bottom: 20px;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) and (max-width: 767px) {
  .navbar ul {
    display: block;
  }
  .navbar img {
    height: 200px;
  }
  .container-fluid {
    padding: 0 20px;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .navbar ul {
    display: flex;
    justify-content: space-between;
  }
  .navbar img {
    height: 250px;
  }
  .container-fluid {
    padding: 0 30px;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .navbar ul {
    display: flex;
    justify-content: space-between;
  }
  .navbar img {
    height: 300px;
  }
  .container-fluid {
    padding: 0 40px;
  }
}

/* Extra large devices (large desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .navbar ul {
    display: flex;
    justify-content: space-between;
  }
  .container-fluid {
    padding: 0 50px;
  }
}
